@function font-size($key) {
  @if map-has-key($font_size, $key) {
    @return map-get($font_size, $key);
  }
  @warn "Unknown `#{$key}` in $font_size.";
  @return null;
}

@function font-weight($key) {
  @if map-has-key($font_weight, $key) {
    @return map-get($font_weight, $key);
  }
  @warn "Unknown `#{$key}` in $font_weight.";
  @return null;
}

@function font-family($key) {
  @if map-has-key($font_family, $key) {
    @return map-get($font_family, $key);
  }
  @warn "Unknown `#{$key}` in $font_family.";
  @return null;
}