html {
	font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
	font-family: font-family(teko), sans-serif;
	@include body;
}

h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

h4 {
	@include h4;
}

h5 {
	@include h5;
}

h6 {
	@include h6;
}