<template>
  <img
    v-lazyload
    :data-url="source"
    :alt="alt"
  >
</template>

<script>
import LazyLoadDirective from '@/directives/LazyLoadDirective';

export default {
  name: 'image-item',
  directives: {
    lazyload: LazyLoadDirective,
  },
  props: {
    source: {
      type: String,
      required: true,
    },
    alt: {
      type: String,
      required: true,
    }
  }
}
</script>
