<template>
  <section class="col-12">
    <blockquote class="quote">
      <p class="quote__contents">"{{ quote.contents }}"</p>
      <footer class="quote__credits" v-text="quote.credits"></footer>
    </blockquote>
  </section>
</template>

<script>
export default {
  name: 'center-quote',
  props: {
    quote: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style lang="scss" scoped>
.quote {
  width: 100%;
  padding: 8rem 0;
  border-top: 1px solid $border;
  @include media-breakpoint-down(sm) {
    padding: 4rem 0rem 6rem 0rem;
  }
  &__contents {
    @include body(teko, 36, regular, black);
    width: 65%;
    margin: 0 auto;
    margin-bottom: 2rem;
    @include media-breakpoint-down(sm) {
      font-size: font-size(24);
      width: 100%;
    }
  }
  &__credits {
    @include body(muli, 13, bold, black);
    text-transform: uppercase;
    width: 65%;
    margin: 0 auto;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
</style>

