$text_colors: (
	black: #272727,
	dark_grey: #939393,
	filter: #A3A3A3,
	grey: #808080,
	white: #FFF,
	blue: #1A18F7,
	red: #FF2929,
	green: #50C878,
);

$border: #DDD;
$footer-divider: #3E3E3E;
$background-clients: #F3F6F6;
$background-black: #0E0E0E;