@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Muli:300,400,600,700|Teko:300,400,500,600');

$font_family: (
	maven: 'Maven Pro',
	teko: 'Teko',
	muli: 'Muli',
);

$font_size: (
	400: 40rem,
	170: 17rem,
	110: 11rem,
	60: 6rem,
	50: 5rem,
	36: 3.6rem,
	32: 3.2rem,
	30: 3rem,
	24: 2.4rem,
	22: 2.2rem,
	18: 1.8rem,
	17: 1.7rem,
	15: 1.5rem,
	14: 1.4rem,
	13: 1.3rem,
	12: 1.2rem,
);

$font_weight: (
	light: 300,
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
);