<template>
  <section class="card" :class="colSize">
    <a :href="project.link" class="card__link">
      <div class="card__shadow"></div>
      <figure class="image-box">
        <image-item class="image-box__contents" :source="project.img" :alt="project.title"></image-item>
      </figure>
      <header class="card__header">
        <h3 class="card__title" v-text="project.title"></h3>
      </header>
      <p class="card__description" v-text="project.description"></p>
      <a :href="project.link" class="link link__case d-none d-sm-block" tabIndex="-1"><anchor-blue-icon></anchor-blue-icon>{{ project.anchor }}</a>
    </a>
  </section>
</template>

<script>
// Icons
import AnchorBlueIcon from '@/components/icons/AnchorBlueIcon.vue';

// Components
import ImageItem from '@/components/images/ImageItem.vue';

export default {
  name: 'image-card',
  components: {
    ImageItem,
    AnchorBlueIcon,
  },
  props: {
    project: {
      type: Object,
      required: true,
    }
  },
  computed: {
    colSize () {
      return this.project.size === 'medium' ? 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6' : 'col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9';
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  margin-bottom: 8rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 5rem;
  }
  &__link {
    display: block;
    position: relative;
    transition: transform transition(fast);
    will-change: transform;
    &:hover, &:focus {
      outline: none;
      transform: translateY(-10px);
      .card__shadow {
        opacity: 1;
      }
      .link__case {
        transform: translateX(5px);
      }
    }
  }
  &__shadow {
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 15px 20px -10px rgba(text-color(black), .15);
    opacity: 0;
    transition: opacity transition(fast);
    will-change: opacity;
  }
  .image-box {
    margin-bottom: 2rem;
    height: 50rem;
    width: 100%;
    @include media-breakpoint-down(sm) {
      height: 28.5rem;
    }
    &__contents {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__title {
    @include h3(muli, 15, bold, dark_grey);
    margin-bottom: 1rem;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: font-size(14);
    }
  }
  &__description {
    @include body(teko, 30, regular, black);
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }
}
</style>