<template>
  <section class="cards col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" :class="project.side">
    <div class="row">
      <section class="cards__single col-12" v-for="(project, index) in project.sections" :key="project.id">
        <div class="cards__wrapper">
          <a :href="project.link" class="cards__link" :class="{ 'cards__link--last': isLast(index) }">
            <header class="cards__header">
              <h3 class="cards__title" v-text="project.title"></h3>
            </header>
            <p class="cards__description" v-text="project.description"></p>
            <a :href="project.link" class="link link__case d-none d-sm-block" tabIndex="-1"><anchor-blue-icon></anchor-blue-icon>{{ project.anchor }}</a>
          </a>
        </div>
      </section>
    </div>
  </section>
</template>

<script>
// Icons
import AnchorBlueIcon from '@/components/icons/AnchorBlueIcon.vue';

export default {
  name: 'image-card',
  components: {
    AnchorBlueIcon,
  },
  props: {
    project: {
      type: Object,
      required: true,
    }
  },
  methods: {
    isLast (index) {
      return index === (this.project.sections.length - 1) ? true : false;
    }
  }
}
</script>

<style lang="scss" scoped>
.cards {
  @include media-breakpoint-down(sm) {
    margin-bottom: 5rem;
  }
  &.right {
    .cards__wrapper {
      padding-left: 10px;
      padding-right: 40px;
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
  &.left {
    .cards__wrapper {
      padding-right: 40px;
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
  &__single {
    min-height: 25rem;
    @include media-breakpoint-down(sm) {
      min-height: auto;
    }
  }
  &__link {
    display: block;
    height: 100%;
    padding: 2rem 0rem 4rem 0rem;
    border-top: 1px solid $border;
    &--last {
      border-bottom: 1px solid $border;
    }
    transition: transform transition(fast);
    will-change: transform;
    &:hover, &:focus {
      outline: none;
      transform: translateY(-10px);
      .link__case {
        transform: translateX(5px);
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 2rem 0rem 2rem 0rem;
    }
  }
  &__title {
    @include h3(muli, 15, bold, dark_grey);
    margin-bottom: 1rem;
  }
  &__description {
    @include body(teko, 24, regular, black);
    margin-bottom: 2rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }
}
</style>
