@mixin reset-button() {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
	appearance: none;
	/* Remove mystery padding in Gecko browsers.
   * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
   */
  &::-moz-focus-inner {
      padding: 0;
      border: 0;
  }
}

@mixin button($bg: $background-black, $color: white, $family: muli, $weight: bold, $size: 15) {
	@include reset-button;
	padding: 0 1rem;
	height: 5rem;
	min-width: 17rem;
	background-color: $bg;
	color: $color;
	font-family: font-family($family), sans-serif;
	font-weight: font-weight($weight);
	font-size: font-size($size);
	text-transform: uppercase;
}

@mixin button-submit ($family: muli, $weight: bold, $size: 15, $color: white, $bg: blue, $hover: $background-black) {
	@include reset-button;
	padding: 0 1rem;
	height: 5rem;
	min-width: 17rem;
	background-color: $bg;
	color: $color;
	font-family: font-family($family), sans-serif;
	font-weight: font-weight($weight);
	font-size: font-size($size);
	text-transform: uppercase;
	transition: all transition(fast);
	will-change: transform;
	position: relative;
	transform-style: preserve-3d;
	cursor: pointer;
	&:after {
		padding: 0 1rem;
		height: 5rem;
		line-height: 5rem;
		top: 100%;
		left: 0;
		width: 100%;
		position: absolute;
		background-color: $hover;
		content: attr(data-text);
		text-transform: uppercase;
		transform-origin: left top;
		transform: rotateX(90deg);
	}
	&:hover, &:focus {
		transform-origin: center top;
		transform: rotateX(-90deg) translateY(-100%);
	}
}