@mixin h1($family: teko, $size: 400, $weight: regular, $color: black) {
	font-family: font-family($family), sans-serif;
	font-size: font-size($size);
	font-weight: font-weight($weight);
	color: text-color($color);
}

@mixin h2($family: teko, $size: 60, $weight: regular, $color: black) {
	font-family: font-family($family), sans-serif;
	font-size: font-size($size);
	font-weight: font-weight($weight);
	color: text-color($color);
}

@mixin h3($family: teko, $size: 36, $weight: regular, $color: black) {
	font-family: font-family($family), sans-serif;
	font-size: font-size($size);
	font-weight: font-weight($weight);
	color: text-color($color);
}

@mixin h4($family: teko, $size: 32, $weight: regular, $color: black) {
	font-family: font-family($family), sans-serif;
	font-size: font-size($size);
	font-weight: font-weight($weight);
	color: text-color($color);
}

@mixin h5($family: teko, $size: 30, $weight: regular, $color: black) {
	font-family: font-family($family), sans-serif;
	font-size: font-size($size);
	font-weight: font-weight($weight);
	color: text-color($color);
}

@mixin h6($family: teko, $size: 24, $weight: regular, $color: black) {
	font-family: font-family($family), sans-serif;
	font-size: font-size($size);
	font-weight: font-weight($weight);
	color: text-color($color);
}

@mixin body($family: teko, $size: 15, $weight: regular, $color: black) {
	font-family: font-family($family), sans-serif;
	font-size: font-size($size);
	font-weight: font-weight($weight);
	color: text-color($color);
}