@mixin reset-anchor($color: blue) {
	text-decoration: none;
	color: text-color($color);
	cursor: pointer;
	&:link, &:visited {
		text-decoration: inherit;
		color: text-color($color);
		cursor: pointer;
	}
}

@mixin anchor($family: muli, $weight: bold, $size: 14, $color: blue) {
	@include reset-anchor($color);
	font-family: font-family($family), sans-serif;
	font-weight: font-weight($weight);
	font-size: font-size($size);
	color: text-color($color);
}

@mixin case-anchor($family: muli, $weight: bold, $size: 14, $color: blue) {
	@include anchor($family, $weight, $size, $color);
	position: relative;
	display: inline-block;
	transition: transform transition(fast);
	will-change: transform;
	padding-left: 1.7rem;
	text-transform: uppercase;
	svg {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	&:hover {
		transform: translateX(5px);
	}
}

@mixin button-anchor($family: muli, $weight: bold, $size: 15, $color: white, $bg: $background-black, $hover: blue) {
	@include anchor($family, $weight, $size, $color);
	display: inline-block;
	text-align: center;
	padding: 0 1rem;
	height: 5rem;
	line-height: 5rem;
	min-width: 17rem;
	background-color: $bg;
	text-transform: uppercase;
	transition: all transition(fast);
	will-change: transform;
	position: relative;
	transform-style: preserve-3d;
	&:after {
		top: 100%;
		left: 0;
		width: 100%;
		position: absolute;
		background-color: text-color($hover);
		content: attr(data-text);
		text-transform: uppercase;
		transform-origin: left top;
		transform: rotateX(90deg);
	}
	&:hover, &:focus {
		transform-origin: center top;
		transform: rotateX(-90deg) translateY(-100%);
	}
	@include media-breakpoint-down(sm) {
		min-width: auto;
		width: calc(100% - 40px);
	}
}