<template>
  <article class="home container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <header class="home-header col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <figure class="image-box">
              <!-- <img class="image-box__image" src="/img/florensis.jpg" alt="Florensis"> -->
              <image-item class="image-box__image" source="/img/florensis.jpg" alt="Florensis"></image-item>
            </figure>
            <h2 class="home-header__title">Work</h2>
            <a href="#" class="link link__button home-header__link" data-text="view case">view case</a>
          </header>
        </div>
      </div>
    </div>
    <main class="row">
      <div class="container">
        <div class="row" v-if="cases && cases.cases">
          <cases-filter :filters="cases.filters" :params="params" @category="setCategory" @industry="setIndustry"></cases-filter>
          <p class="col-12 no-results" v-if="!hasResults">Sorry, but we couldn't find any cases.</p>
          <template v-for="project in filteredCasesOne">
            <component :is="`${project.type}-card`" :project="project" :key="project.id"></component>
          </template>
          <center-quote :quote="quote"></center-quote>
          <template v-for="project in filteredCasesTwo">
            <component :is="`${project.type}-card`" :project="project" :key="project.id"></component>
          </template>
        </div>
      </div>
      <clients></clients>
      <div class="container">
        <contact-form></contact-form>
      </div>
    </main>
  </article>
</template>

<script>
// Modules
import size from 'lodash/size';
import filter from 'lodash/filter';
import { mapActions, mapGetters } from 'vuex';

// Helpers
import { ObjectValuesToString } from '@/helpers';

// Components
import Clients from '@/components/Clients.vue';
import TextCard from '@/components/cards/TextCard.vue';
import ImageCard from '@/components/cards/ImageCard.vue';
import ImageItem from '@/components/images/ImageItem.vue';
import ContactForm from '@/components/forms/ContactForm.vue';
import CenterQuote from '@/components/quotes/CenterQuote.vue';
import CasesFilter from '@/components/filters/CasesFilter.vue';

export default {
  name: 'home',
  components: {
    Clients,
    TextCard,
    ImageCard,
    ImageItem,
    ContactForm,
    CenterQuote,
    CasesFilter,
  },
  data () {
    return {
      initialFetch: false,
      params: {
        category: 'all',
        industry: 'all',
      },
      quote: {
        contents: 'Dept helped us tell our story through a bold new identity and a robust online experience. To the tune of 60% growth in online bookings in just one month.',
        credits: 'Mattijs ten Brink - CEO, Transavia',
      }
    }
  },
  computed: {
    ...mapGetters('cases', ['cases']),
    hasResults () {
      return size(this.filteredCasesOne) > 0 || size(this.filteredCasesTwo) > 0;
    },
    filteredCasesOne () {
      if (this.params.category === 'all' && this.params.industry === 'all') {
        return this.cases.cases.one;
      } else if (this.params.category === 'all') {
        return filter(this.cases.cases.one, (c) => {
          return c.industry === this.params.industry;
        });
      } else if (this.params.industry === 'all') {
        return filter(this.cases.cases.one, (c) => {
          return c.category === this.params.category;
        });
      } else {
        return filter(this.cases.cases.one, (c) => {
          return c.category === this.params.category && c.industry === this.params.industry;
        });
      }
    },
    filteredCasesTwo () {
      if (this.params.category === 'all' && this.params.industry === 'all') {
        return this.cases.cases.two;
      } else if (this.params.category === 'all') {
        return filter(this.cases.cases.two, (c) => {
          return c.industry === this.params.industry;
        });
      } else if (this.params.industry === 'all') {
        return filter(this.cases.cases.two, (c) => {
          return c.category === this.params.category;
        });
      } else {
        return filter(this.cases.cases.two, (c) => {
          return c.category === this.params.category && c.industry === this.params.industry;
        });
      }
    },
  },
  watch: {
    params: {
      handler (val, oldVal) {
        this.setRouteQuery();
      },
      deep: true,
    }
  },
  beforeRouteUpdate (to, from, next) {
    if (this.initialFetch) {
      this.getData()
    }
    next();
  },
  mounted () {
    this.setParamsWithQuery();
    this.getData().then(() => {
      this.initialFetch = true;
    });
  },
  methods: {
    ...mapActions('cases', ['get']),
    setIndustry (val) {
      this.params.industry = val;
    },
    setCategory (val) {
      this.params.category = val;
    },
    setParamsWithQuery () {
      const PARAMS = { ...this.params, ...this.$route.query };
      for (const PARAM in PARAMS) {
        this.$set(this.params, PARAM, PARAMS[PARAM]);
      }
    },
    setRouteQuery () {
      const PARAMS = { ...this.params };
      this.$router.replace({ name: this.$route.name, query: ObjectValuesToString(this.params) });
    },
    async getData () {
      this.get().then((res) => {}, (err) => {
        console.log(err);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.home {
  .home-header {
    position: relative;
    height: 94rem;
    height: 100vh;
    margin-bottom: 6rem;
    @include media-breakpoint-down(md) {
      height: 60rem;
    }
    @include media-breakpoint-down(sm) {
      height: 32rem;
      margin-bottom: 10rem;
    }
    .image-box {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 50%;
      width: calc(100vw - 40px);
      height: 100%;
      transform: translateX(-50%);
      @include media-breakpoint-down(sm) {
        width: 100vw;
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
      }
    }
    &__title {
      @include h1;
      text-transform: uppercase;
      position: absolute;
      top: 16rem;
      left: 15px;
      @include media-breakpoint-down(md) {
        font-size: font-size(110);
      }
      @include media-breakpoint-down(sm) {
        font-size: font-size(170);
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }
      @media only screen and (max-width: 350px) {
        font-size: font-size(110);
      }
    }
    &__link {
      position: absolute;
      right: 15px;
      bottom: 8rem;
      @include media-breakpoint-down(sm) {
        left: 50%;
        bottom: -7.5rem;
        right: auto;
        transform: translateX(-50%);
      }
    }
  }
  .no-results {
    @include h2;
    text-align: center;
  }
}
</style>

