<template>
  <section class="clients col-12">
    <div class="clients__background"></div>
    <div class="row">
      <div class="container">
        <div class="row">
          <header class="clients__header col-12">
            <h3 class="clients__title" v-text="clients.title"></h3>
            <p class="clients__description" v-text="clients.description"></p>
          </header>
        </div>
        <ul class="clients__list row">
          <li class="clients__item col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" v-for="(logo, index) in clients.logos" :key="index">
            <figure class="clients__logo-box">
              <image-item class="clients__logo" :source="`/img/clients/${logo.img}.svg`" :alt="logo.alt"></image-item>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
// Components
import ImageItem from '@/components/images/ImageItem.vue';

export default {
  name: 'clients',
  components: {
    ImageItem,
  },
  data () {
    return {
      clients: {
        title: 'Clients',
        description: 'We value a great working relationship with our clients above all else. It’s why they often come to our parties. It’s also why we’re able to challenge and inspire them to reach for the stars.',
        logos: [
          {
            img: 'nivea',
            alt: 'Nivea'
          },
          {
            img: 'mona',
            alt: 'Mona'
          },
          {
            img: 'transavia',
            alt: 'Transavia'
          },
          {
            img: 'zalando',
            alt: 'Zalando'
          },
          {
            img: 'tomtom',
            alt: 'TomTom'
          },
          {
            img: 'unilever',
            alt: 'Unilever'
          },
          {
            img: 'adidas',
            alt: 'Adidas'
          },
          {
            img: 'pathe',
            alt: 'Pathe'
          },
          {
            img: 'abn_amro',
            alt: 'Abn-Amro'
          },
          {
            img: 'triumph',
            alt: 'Triumph'
          },
          {
            img: 'microsoft',
            alt: 'Microsoft'
          },
          {
            img: 'oxxio',
            alt: 'Oxxio'
          },
          {
            img: 'nationale_nederlanden',
            alt: 'Nationale Nederlanden'
          },
          {
            img: 'ziggo',
            alt: 'Ziggo'
          },
          {
            img: 'walibi',
            alt: 'Walibi'
          },
          {
            img: 'klm',
            alt: 'Klm'
          },
        ]
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.clients {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 10rem;
  @include media-breakpoint-down(sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &__background {
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $background-clients;
    @include media-breakpoint-down(sm) {
      width: 100vw;
    }
  }
  &__title, &__description {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    @include media-breakpoint-down(sm) {
      max-width: calc(100% - 40px);
    }
  }
  &__title {
    @include h3(teko, 60, regular, black);
    text-transform: uppercase;
    margin-bottom: 2rem;
    @include media-breakpoint-down(sm) {
      font-size: font-size(30);
    }
  }
  &__description {
    @include body(muli, 17, regular, black);
    margin-bottom: 8rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 6rem;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  &__item {
    @include media-breakpoint-down(md) {
      &:nth-child(n+9) {
        display: none;
      }
    }
    @include media-breakpoint-down(sm) {
      &:nth-child(n+7) {
        display: none;
      }
    }
  }
  &__logo-box {
    height: 12.5rem;
    text-align: center;
  }
  &__logo {
    width: 50%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    @media only screen and (max-width: 350px) {
      width: 75%;
    }
  }
}
</style>
