<template>
  <footer class="container-fluid main-footer">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-12 wrapper">
            <h3 class="main-footer__title">
              <router-link :to="{ name: 'home' }">
                <dept-white></dept-white>
              </router-link>
            </h3>
            <nav class="main-footer__nav">
              <ul class="main-footer__list">
                <li class="main-footer__item" v-for="(link, index) in links" :key="index">
                  <a :href="link.anchor" class="main-footer__link" v-text="link.text"></a>
                </li>
              </ul>
            </nav>
            <nav class="socials">
              <ul class="socials__list">
                <li class="socials__item" v-for="(social, index) in socials" :key="index">
                  <a :href="socials.anchor" target="_blank" rel="noreferrer" class="socials__link">
                    <figure class="icon-box">
                      <image-item :source="`/img/icons/white/${social.icon}.svg`" :alt="social.icon"></image-item>
                    </figure>
                  </a>
                </li>
              </ul>
            </nav>
            <div class="divider"></div>
          </div>
          <div class="company col-12 col-sm-12 col-md-9 col-lg-7 offset-lg-2">
            <ul class="company__list">
              <li class="company__item">Chamber of Commerce: 63464101</li>
              <li class="company__item">VAT: NL 8552.47.502.B01  </li>
              <li class="company__item"><a class="company__link" href="#">Terms and conditions</a></li>
            </ul>
          </div>
          <div class="copyright col-12 col-sm-12 col-md-3 col-lg-3">
            <p class="copyright__content">© 2018 Dept Agency</p>
          </div>
          <div class="top">
            <button class="top__button" type="button" @click.stop.prevent="toTop">
              <arrow-up></arrow-up>
              Top
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
// Modules
import jump from 'jump.js';

// Logos
import DeptWhite from '@/components/logos/DeptWhite.vue';

// Icons
import ArrowUp from '@/components/icons/ArrowUp.vue';

// Components
import ImageItem from '@/components/images/ImageItem.vue';

export default {
  name: 'main-footer',
  components:{
    ArrowUp,
    DeptWhite,
    ImageItem,
  },
  data () {
    return {
      socials: [
        {
          icon: 'facebook',
          anchor: 'https://www.facebook.com/'
        },
        {
          icon: 'twitter',
          anchor: 'https://twitter.com/'
        },
        {
          icon: 'instagram',
          anchor: 'https://www.instagram.com/'
        }
      ],
      links: [
        {
          text: 'Work',
          anchor: '#'
        },
        {
          text: 'Service',
          anchor: '#'
        },
        {
          text: 'Stories',
          anchor: '#'
        },
        {
          text: 'About',
          anchor: '#'
        },
        {
          text: 'Careers',
          anchor: '#'
        },
        {
          text: 'Contact',
          anchor: '#'
        },
      ]
    }
  },
  methods: {
    toTop () {
      jump('#app');
    }
  }
}
</script>

<style lang="scss" scoped>
.main-footer {
  background-color: $background-black;
  padding-top: 9rem;
  padding-bottom: 11rem;
  width: 100vw;
  margin-left: -.5rem;
  position: relative;
  padding-right: 7rem;
  @media only screen and (max-width: 1050px) {
    padding-right: 10rem;
  }
  @media only screen and (max-width: 620px) {
    padding-right: 15px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 5.5rem;
    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: flex-start;
      margin-bottom: 4rem;
    }
    .socials {
      margin-left: auto;
      @include media-breakpoint-down(sm) {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: right;
      }
      &__list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
      }
      &__item {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 3rem;
        }
        @include media-breakpoint-down(sm) {
          display: block;
          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
      &__link {
        display: block;
        transition: transform transition(fast);
        will-change: transform;
        &:hover, &:focus {
          transform: scale(1.5);
        }
      }
    }
  }
  &__nav {
    @include media-breakpoint-down(sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .divider {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 1px;
    width: calc(100% - 30px);
    background-color: $footer-divider;
  }
  &__title {
    margin-right: 15rem;
    margin-bottom: 0;
    @include media-breakpoint-down(lg) {
      margin-right: 3rem;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    a {
      display: block;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 2.5rem;
    }
    @include media-breakpoint-down(sm) {
      display: block;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
  &__link {
    @include anchor(teko, regular, 18, white);
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: font-size(32);
    }
  }
  .company {
    &__list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      text-align: center;
      @media only screen and (max-width: 810px) {
        text-align: left;
      }
    }
    &__item {
      display: inline-block;
      @include body(muli, 13, regular, grey);
      &:not(:last-child) {
        margin-right: 2.5rem;
      }
      @include media-breakpoint-down(lg) {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
      @media only screen and (max-width: 810px) {
        display: block;
      }
    }
    &__link {
      @include anchor(muli, regular, 13, grey);
      transition: color transition(fast);
      will-change: color;
      &:hover {
        color: text-color(white);
      }
    }
  }
  .copyright {
    text-align: right;
    &__content {
      @include body(muli, 13, regular, grey);
      margin-bottom: 0;
    }
    @include media-breakpoint-down(md) {
      text-align: left;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 2.5rem;
    }
  }
  .top {
    position: absolute;
    top: 0;
    right: 0;
    background-color: text-color(white);
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 620px) {
      display: none;
    }
    &__button {
      @include reset-button;
      @include body(teko, 22, regular, blue);
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      svg {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}
</style>

