<template>
  <header class="main-header container-fluid" :class="{ 'main-header--invert': invert }">
    <div class="row">
      <div class="container">
        <div class="row">
          <section class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 main-header__logo-box">
            <h1 class="main-header__title">
              <dept-black></dept-black>
            </h1>
          </section>
          <nav class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 main-header__navigation">
            <button class="main-header__toggle" @click.stop.prevent="toggleMenu" tabIndex="0">
              Menu
              <span class="hamburger" :class="{ 'hamburger--invert': menuOpen }">
                <span class="hamburger__line" :class="{ 'hamburger__line--open': menuOpen }"></span>
                <span class="hamburger__line" :class="{ 'hamburger__line--open': menuOpen }"></span>
              </span>
            </button>
          </nav>
          <div class="main-header__divider"></div>
          <transition name="scale">
            <nav class="main-navigation" v-if="menuOpen">
              <div class="main-navigation__wrapper">
                <nav class="left left__top">
                  <dept-white></dept-white>
                  <header class="left__header">
                    <h2 class="left__title">Landen</h2>
                    <h3 class="left__sub">Global</h3>
                  </header>
                  <ul class="left__list">
                    <li class="left__item" v-for="(link, index) in leftTopLinks" :key="index">
                      <a class="left__link" :href="link.anchor" v-text="link.title"></a>
                    </li>
                  </ul>
                </nav>
                <nav class="left left__bottom">
                  <ul class="left__list">
                    <li class="left__item" v-for="(link, index) in leftBottomLinks" :key="index">
                      <a class="left__link" :href="link.anchor" v-text="link.title"></a>
                    </li>
                  </ul>
                </nav>
                <nav class="right">
                  <ul class="right__list">
                    <li class="right__item" v-for="(link, index) in rightLinks" :key="index">
                      <a class="right__link" :href="link.anchor" v-text="link.title"></a>
                    </li>
                  </ul>
                </nav>
                <div class="gradient"></div>
              </div>
            </nav>
          </transition>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
// Modules
import debounce from 'lodash/debounce';

// Logos
import DeptBlack from '@/components/logos/DeptBlack.vue';
import DeptWhite from '@/components/logos/DeptWhite.vue';

export default {
  name: 'main-navigation',
  components: {
    DeptBlack,
    DeptWhite
  },
  data () {
    return {
      menuOpen: false,
      invert: false,
      rightLinks: [
        {
          title: 'Home',
          anchor: '#',
        },
        {
          title: 'Werk',
          anchor: '#',
        },
        {
          title: 'Over',
          anchor: '#',
        },
        {
          title: 'Diensten',
          anchor: '#',
        },
        {
          title: 'Partners',
          anchor: '#',
        },
        {
          title: 'Stories',
          anchor: '#',
        },
        {
          title: 'Vacatures',
          anchor: '#',
        },
        {
          title: 'Events',
          anchor: '#',
        },
        {
          title: 'Contact',
          anchor: '#',
        },
      ],
      leftTopLinks: [
        {
          title: 'Nederland',
          anchor: '#',
        },
        {
          title: 'United States',
          anchor: '#',
        },
        {
          title: 'Ireland',
          anchor: '#',
        },
        {
          title: 'United Kingdom',
          anchor: '#',
        },
        {
          title: 'Deutschland',
          anchor: '#',
        },
        {
          title: 'Schweiz',
          anchor: '#',
        },
      ],
      leftBottomLinks: [
        {
          title: 'Facebook',
          anchor: '#',
        },
        {
          title: 'Twitter',
          anchor: '#',
        },
        {
          title: 'Instagram',
          anchor: '#',
        },
        {
          title: 'Linkeding',
          anchor: '#',
        },
      ]
    }
  },
  mounted () {
    window.addEventListener('scroll', this.calculateDistance);
  },
  methods: {
    calculateDistance () {
      if (window.scrollY > 50 && window.innerWidth > 576) {
        this.invert = true;
      } else {
        this.invert = false;
      }
    },
    toggleMenu () {
      this.menuOpen = !this.menuOpen;
    }
  }
}
</script>

<style lang="scss" scoped>
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10.3rem;
  padding-top: 5rem;
  padding-left: 20px;
  padding-right: 20px;
  z-index: z-index(navigation);
  background-color: transparent;
  transition: all transition(fast);
  will-change: background-color height padding-top;
  @include media-breakpoint-down(sm) {
    height: 5rem;
    background-color: text-color(white);
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    height: 100%;
    position: relative;
  }
  &--invert {
    background-color: rgba(text-color(white), .8);
    height: 7.6rem;
    padding-top: 2.3rem;
    .main-header__title {
      transform: scale(.5);
    }
    .main-header__divider {
      transform: translateX(-50%) scaleX(0);
      opacity: 0;
    }
  }
  &__logo-box {
    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
    }
  }
  &__title {
    font-size: initial;
    margin-bottom: 0;
    transform-origin: top left;
    transition: transform transition(fast);
    will-change: transform;
    @include media-breakpoint-down(sm) {
      svg {
        width: 5rem;
      }
    }
  }
  &__divider {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: calc(100% - 30px);
    background-color: $background-black;
    transition: transform opacity transition(fast);
    will-change: transform opacity;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__toggle {
    @include reset-button;
    @include body(teko, 18, regular, black);
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    &:focus {
      outline: 1px solid text-color(black);
    }
    @include media-breakpoint-down(sm) {
      font-weight: font-weight(bold);
    }
    .hamburger {
      display: inline-block;
      width: 20px;
      height: 10px;
      position: relative;
      margin-left: 2.5rem;
      @include media-breakpoint-down(sm) {
        transition: top transition(fast);
        will-change: top;
        margin-left: 0;
      }
      &--invert {
      position: relative;
      z-index: 1000;
      @include media-breakpoint-down(sm) {
        position: relative;
        top: 1rem;
      }
    }
      &__line {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        background-color: $black;
        transition: transform transition(fast);
        will-change: transform;
        &:first-of-type {
          transform: translateY(0);
        }
        &:last-of-type {
          transform: translateY(8px);
        }
        &--open {
         transform-origin: center;
         background-color: text-color(white);
         &:first-of-type {
            transform: translateY(5px) rotate(45deg);
          }
          &:last-of-type {
            transform: translateY(5px) rotate(-45deg);
          }
        }
      }
    }
  }
}
.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z-index(navigation);
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  background-color: text-color(white);
  padding: 2rem;
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: $background-black;
    padding: 15rem 10rem 0rem 10rem;
    position: relative;
    @include media-breakpoint-down(sm) {
      padding: 10rem 2rem 10rem 2rem;
    }
  }
}
.left {
  background-color: $background-black;
  &__top {
    position: fixed;
    top: 5rem;
    left: 12rem;
    @include media-breakpoint-down(sm) {
      top: 2rem;
      left: 2rem;
    }
    svg {
      margin-bottom: 4rem;
      @include media-breakpoint-down(sm) {
        width: 5rem;
        margin-bottom: 0;
      }
    }
  }
  &__bottom {
    position: fixed;
    bottom: 7rem;
    left: 12rem;
    z-index: 1;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__title {
    @include h2(muli, 12, bold, white);
    opacity: .5;
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__sub {
    @include h3(muli, 12, bold, white);
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__link {
    @include anchor(muli, bold, 12, white);
  }
}
.right {
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-bottom: 7rem;
  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  &__item {
    text-align: right;
    border-bottom: 1px solid text-color(filter);
  }
  &__link {
    @include anchor(teko, regular, 110, white);
    @include media-breakpoint-down(md) {
      font-size: font-size(60);
    }
    @include media-breakpoint-down(sm) {
      font-size: font-size(50);
    }
  }
}
.gradient {
  position: fixed;
  height: 12.5rem;
  width: calc(100% - 4rem);
  right: 2rem;
  bottom: 2rem;
  background: linear-gradient(to bottom, rgba($background-black, 0), rgba($background-black, 1));
  @include media-breakpoint-down(sm) {
    bottom: 10rem;
  }
}
</style>

