<template>
  <section class="col-12 filters" v-if="filters">
    <div class="filters__wrapper">
      <label for="categories" class="filters__label">Show me</label>
      <div class="wrapper wrapper--right">
        <select name="categories" id="categories" class="filters__select filters__select--right" v-model="category">
          <option v-for="(category, index) in filters.categories" :key="index" :value="index" v-text="category"></option>
        </select>
      </div>
    </div>
    <div class="filters__wrapper">
      <label for="industries" class="filters__label">in</label>
      <div class="wrapper">
        <select name="industries" id="industries" class="filters__select" v-model="industry">
          <option v-for="(industry, index) in filters.industries" :key="index" :value="index" v-text="industry"></option>
        </select>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'cases-filter',
  props: {
    filters: {
      type: Object,
      required: true,
    },
    params: {
      type: Object,
      required: true,
    }
  },
  data () {
    return {
      category: '',
      industry: '',
    }
  },
  watch: {
    category (val) {
      this.$emit('category', val);
    },
    industry (val) {
      this.$emit('industry', val);
    }
  },
  mounted () {
    if (this.params.category) {
      this.category = this.params.category;
    }
    if (this.params.industry) {
      this.industry = this.params.industry;
    }
  }
}
</script>

<style lang="scss" scoped>
.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 6rem;
  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
  }
  &__label {
    @include body(teko, 30, regular, filter);
    margin-bottom: 0;
    margin-right: .5rem;
    @include media-breakpoint-down(sm) {
      font-size: font-size(24);
    }
  }
  .wrapper {
    border-bottom: 1px solid text-color(black);
    &--right {
      margin-right: 2.5rem;
    }
  }
  &__select {
    @include body(teko, 30, medium, black);
    display: inline-block;
    outline: none;
    background-color: transparent;
    border: none;
    padding-right: 1rem;
    appearance: none;
    height: auto;
    background-image: url('/img/icons/black/triangle-black.svg');
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    &::-ms-expand {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      font-size: font-size(24);
    }
  }
}
</style>
