<template>
	<svg width="7" height="9" viewBox="0 0 7 9" xmlns="http://www.w3.org/2000/svg"><path d="M0 9l7-4.505L0 0z" fill="#1A18F7" fill-rule="evenodd"/></svg>
</template>

<script>
export default {
	name: 'anchor-blue-icon'
}
</script>