<template>
  <svg width="14" height="31" viewBox="0 0 14 31" xmlns="http://www.w3.org/2000/svg"><g fill="#1A18F7" fill-rule="evenodd"><path d="M6 9h3v22H6z"/><path d="M14 11L6.993 0 0 11z"/></g></svg>
</template>

<script>
export default {
  name: 'arrow-up',
}
</script>
