<template>
  <div id="app">
		<main-navigation />
		<router-view />
		<main-footer />
  </div>
</template>

<script>
import MainFooter from '@/partials/MainFooter.vue';
import MainNavigation from '@/partials/MainNavigation.vue';

export default {
	name: 'app',
	components: {
		MainFooter,
		MainNavigation,
	}
}
</script>

<style lang="scss">
#app {
	background-color: text-color(white);
	padding: 2rem .5rem 0rem .5rem;
	@include media-breakpoint-down(sm) {
		padding: 5rem .5rem 0rem .5rem;
	}
}  
</style>
