<template>
  <section class="row contact">
    <transition name="fade">
      <p class="contact__success col-9 offset-3" v-if="success" v-text="message" role="alert"></p>
    </transition>
    <header class="contact__header col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
      <h3 class="contact__title d-none d-lg-block" v-html="titleDesktop"></h3>
      <h3 class="contact__title d-block d-lg-none" v-html="titleDevice"></h3>
    </header>
    <form @submit.stop.prevent="postForm" class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 contact__form">
      <div class="row">
        <label for="name" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 contact__label">
          Name
          <input class="contact__input" type="text" name="name" id="name" v-model="form.name" @blur="resetError('name')">
          <span class="contact__error" role="alert" v-if="errors.name" v-text="errors.name"></span>
        </label>
        <label for="email" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 contact__label">
          Email
          <input class="contact__input" type="email" name="email" id="email" v-model="form.email" @blur="resetError('email')">
          <span class="contact__error" role="alert" v-if="errors.email" v-text="errors.email"></span>
        </label>
        <label for="message" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 contact__label">
          Message
          <textarea class="contact__textarea" name="message" id="message" cols="30" rows="10" v-model="form.message" @blur="resetError('message')"></textarea>
          <span class="contact__error" role="alert" v-if="errors.message" v-text="errors.message"></span>
        </label>
        <p class="col-12">
          <button type="submit" class="contact__submit button button__submit" data-text="Send">Send</button>
        </p>
      </div>
    </form>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';

export default {
  name: 'contact-form',
  data () {
    return {
      titleDesktop: 'Question?<br>We are here<br>to help!',
      titleDevice: 'Question? we are here to help!',
      form: {
        name: '',
        email: '',
        message: '',
      },
      errors: {
        name: '',
        email: '',
        message: '',
      },
      success: false,
      message: '',
    }
  },
  validations: {
    form: {
      name: {
        required,
      },
      email: {
         required,
         email,
      },
      message: {
        required,
      }
    }
  },
  computed: {
    ...mapGetters('contact', ['loading']),
  },
  methods: {
    ...mapActions('contact', ['post']),
    resetForm () {
      this.success = false;
      this.message = '';
      this.form.name = '';
      this.form.email = '';
      this.form.message = '';
    },
    resetError (key) {
      this.errors[key] = '';
    },
    setErrors () {
      for (const ERROR in this.errors) {
        if (this.$v.form[ERROR].$invalid) {
          this.errors[ERROR] = 'This field is required'
        }
      }
    },
    resetErrors () {
      this.errors.name = '';
      this.errors.email = '';
      this.errors.message = '';
    },
    async postForm () {
      this.resetErrors();

      if (this.$v.$invalid) {
        this.setErrors();
        return;
      } else {
        this.post(this.form).then((res) => {
          this.success = res.success;
          this.message = res.message;
          setTimeout(() => {
            this.resetForm();
          }, 6000);
        }, (err) => {
          console.log(err);
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.contact {
  padding-top: 8rem;
  padding-bottom: 8rem;
  @include media-breakpoint-down(sm) {
    padding-top: 4rem;
    padding-bottom: 6.5rem;
  }
  &__success {
    padding: 1rem 1.5rem;
    background-color: rgba(text-color(green), .5);
    border-radius: 3px;
    margin-bottom: 2rem;
    @include body(teko, 24, medium, black);
  }
  &__title {
    @include h3(teko, 60, regular, black);
    line-height: 6rem;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      margin-bottom: 3rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: font-size(30);
      text-align: center;
      line-height: 3rem;
    }
  }
  &__form {
    @include media-breakpoint-down(sm) {
      flex: 0 0 90%;
      max-width: 90%;
      margin: 0 auto;
    }
  }
  &__label {
    @include body(muli, 15, bold, black);
    margin-bottom: 8rem;
    position: relative;
    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
  &__input {
    display: block;
    width: 100%;
    height: 3rem;
    border: none;
    border-bottom: 1px solid $border;
    text-indent: 1rem;
    &:focus {
      outline: none;
      border: 1px solid text-color(black);
    }
  }
  &__textarea {
    display: block;
    width: 100%;
    height: 10rem;
    border: none;
    border-bottom: 1px solid $border;
    resize: none;
    padding-left: 1rem;
    &:focus {
      outline: none;
      border: 1px solid text-color(black);
    }
  }
  &__error {
    @include body(muli, 13, regular, red);
    position: absolute;
    bottom: -2.3rem;
    left: 15px;
  }
}
</style>
